{% extends 'base.html.twig' %}

{% block title %}Mes Voyages - Liste des voyages{% endblock %}

{% block body %}
    <h1>La liste de mes voyages</h1>
    <p>Ici il y aura bientôt le tableau avec tous les voyages et les filtres.</p>
{% endblock %}
