{% extends 'base.html.twig' %}

{% block title %}Mes Voyages{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon site personnel de présentation de mes voyages.</h1>
    <p>Je vais vous présenter les villes que j'ai visitées lors de mes voyages.</p>
{% endblock %}
